/*
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3

"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF
*/

/*########### calendar section ########*/

#meetup-calendar {

}
#cal-heading {
  background-color: white;
  color: #0B1942;
  height: 100px;
}

#cal-heading h1 {
  color: #0B1942;
  margin: 30px 20px;
}

#meet-cal {
  background-color: #0B1942;
  width: 100vw;
  height: auto;
  padding-bottom: 30px;
}

#meet-cal h2 {
  float: left;
  margin: 20px;
  color: white;
}

table {
  width: 100%;
  height: 70vw;
  color: #0B1942;
  background-color: white;
  border-collapse: collapse;
}

td {
  position: relative;
  border: solid 3px #0B1942;
}

.date-box {
  text-align: center;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #0B1942;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  padding-top: 5%;
}

.pysch {
  background-color: #0B1942;
}

.pinkies {
  background-color: #F5005B;
}




















/*############# flipppin whitespace*/
