/*
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3

"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF
*/

* {
  font-family: 'PT Sans';
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-weight: normal;
  color: #0B1942;
  border: none;
}

a:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

/*#################### Header #################*/


.logo {
  background-color: #F5005B;
  width: 140px;
}
/*##########*/
.logo img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

/*##########*/

#home {
  background-color: #00A5BF;
  width: 140px;
}
#calendar {
  background-color: #00B7D3;
  width: 140px;
}
#join {
  background-color: #00D5E7;
  width: 140px;
}

nav {
  background-color: #7DDFE8;
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: flex-start;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  padding-top: 60px;
  font-size:22px;
}

/*########### Get Involved Section ########*/

.get-involved {

}


#flex-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.get-involved h1 {
  color: #0B1942;
  font-weight: normal;
  width: 100%;
  padding-left: 15px;
}

.text-box {
  width: 28%;
  margin: 0px 15px;
}

.text-box h2 {
  background-color: #0B1942;
  color: white;
  font-size: 36px;
  font-weight: normal;
  padding: 10px;
  margin-bottom: 10px;
}

.text-box p {
  color: #0B1942;
  font-size: 22px;
  line-height: 1.4;
  padding: 5px 0px 40px;

}

/*########## Up Next ###########*/


.up-next {
  background-color: #0B1942;
  height: 160vh;
  width: 100%;
}

 .up-next h1 {
  color: white;
  float: left;
  margin: 20px 30px;
  width: 80%;
  text-align: left;
}

.picture-flex {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#rash-squeeze {
  width: 48%;
  height: 100%;
  margin-right: 20px;
}
#rashomon {
  height: 40%;
  width: 100%;
  background-color: #E2E2E2;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 20px;
}
#rash-img {
  background-image: url("../images/rashomon-poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin: 20px 15px;
  grid-area: 1 / 1 / 4 / 2;
  }
#rash-deets {
  grid-area: 1 / 2 / 2 / 3;
  border-bottom: solid 2px #0B1942;
  padding-top: 20px;
}

#rash-deets a {
  color: #00B7D3;
  text-decoration: underline;
  font-size: 3.2vw;
}

#rash-deets p {
  font-size: 2vw;
}

#discussion {
  grid-area: 2 / 2 / 4 / 3;
  /*margin-left: 20px;*/
}
#discussion h3 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 2vw;
}
#discussion ul {
  list-style-type: circle;
  font-size: 2vw;
  margin: 5px 0px 0px 30px;
}

.poster-grid {
  height: 50%;
  width: 47%;
  background-color: #E2E2E2;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 80% 20%;
}
#train-img {
  background-image: url("../images/great-train-poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: 1 / 1 / 2 / 2;
  width: auto;
  height: auto;
  margin: 10px 10px 0px 10px;

}
#bic-img {
  background-image: url("../images/bicycle-thief-poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: 1 / 2 / 2 / 3;
  width: auto;
  height: auto;
  margin: 10px 10px 0px 10px;
}

#train-deets {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 15px;
}

#bic-deets {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 15px;
}

#train-deets a, #bic-deets a, #nos-deets a, #met-deets a {
  color: #00B7D3;
  text-decoration: underline;
  font-weight: normal;
  font-size: 3.5vh;
}

#train-deets p, #bic-deets p, #nos-deets p, #met-deets p {
  font-size: 3.5vh;
}


#nos-img {
  background-image: url("../images/nosferatu-poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: 1 / 1 / 2 / 2;
  width: auto;
  height: auto;
  margin: 10px 10px 0px 10px;
}
#met-img {
  background-image: url("../images/metropolis-poster.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: 1 / 2 / 2 / 3;
  width: auto;
  height: auto;
  margin: 10px 10px 0px 10px;
}
#nos-deets {
  grid-area: 2 / 1 / 2 / 3;
  margin-left: 15px;
}
#met-deets {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 15px;
}
/*
#metropolis {
  width: 45%;
  height: 100%;
}*/

/*########### footer #########*/

#legal {
  align-self: center;
  width: 65%;
  text-align: right;
  font-size: 20px;
  color: white;
  font-weight: normal;
}


/*footer {
  background-color: #7DDFE8;
  width: 100%;
  height: 140px;

}

.nav-item {
  height: 100%;
  width: 120px;
  display: inline-block;
}
*/













/*############# Whitespace maker ###########*/
