/*
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3

"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF
*/

* {
  font-family: 'PT Sans';
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: solid 1px black;
}


.up-next {
  background-color: #0B1942;
  height: 800px;
  width: 100%;
}

.picture-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#boxone {
  background-color: white;
  height: 52%;
  width: 45%;
}

#boxtwo {
  background-color: white;
  height: 49%;
  width: 45%;
}

#boxthree {
  background-color: white;
  height: 49%;
  width: 45%;
}



/*#rashomon {
  height: 60%;
  width: 45%;
  background-color: white;
  margin: 40px;
  padding: 15px;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 1fr 1fr 1fr;
}
  #rash-img {
    background-image: url("../images/rashomon-poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: 1 / 1 / 4 / 2;
    width: 280px;
    height: 100%;
  }
  #rash-deets {
    grid-area: 1 / 2 / 2 / 3;
    margin: 20px;
  }
  #discussion {
    grid-area: 2 / 2 / 4 / 3;
    margin: 20px;
  }
  #discussion ul {
    margin-left: 20px;
  }

#train-bic {
  height: 50%;
  width: 45%;
  background-color: white;
  padding: 15px;,
}
  #train {
    width: 45%;
    height: 100%;
  }
  #train-img {
    background-image: url("../images/great-train-poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 85%;
  }
  #bicycle {
    width: 45%;
    height: 100%;
  }
  #bic-img {
    background-image: url("../images/bicycle-thief-poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 85%;
  }

#nos-met {
  height: 50%;
  width: 45%;
  background-color: white;
  padding: 15px;
}
  #nosferatu {
    width: 45%;
    height: 100%;
  }
  #nos-img {
    background-image: url("../images/nosferatu-poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 85%;
  }
  #metropolis {
    width: 45%;
    height: 100%;
  }
  #met-img {
    background-image: url("../images/metropolis-poster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 280px;
    height: 85%;
  }

















/*############# Whitespace maker ###########*/
